doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug
        include pug/styles
    body    
        header 
            h1 This is Header
            h3 Hello Guys
        .container
            .row
                .col This Is Column
                .col This Is Column
                .col This Is Column
                .col This Is Column
            button Click Me
        footer  
            h1 This is Footer
            h2 this is h2
        script(src='js/all.js')
        script(src='http://localhost:35729/livereload.js')